# IDE config
.vscode

# Dependency directories
node_modules

# Testing/Coverage directories
coverage
_testing

# Data
_contents
example/*
!example/index.js
!example/config.js

# Node files
package-lock.json

# Config files
tsconfig.json
jest.config.js
.jsbeautifyrc
